body {
  background-image: url("http://www.publicdomainpictures.net/pictures/130000/velka/white-box-background.jpg");
  /*background-image: url("/Users/localadmin/workspace/othello-team4/othello-front-end/public/brown-smooth-seamless-background-1438468490biI.jpg")*/
  /*background-image: url("img_tree.gif")*/
  /*background-color: black;*/
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.square
{
  width: 800px;
  height: 306px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}
.cell-block {
  float: left;
  height: 100px;
  width: 100px;
  outline: 1px solid white;
  text-align: center;
  font-size: 6vw;
  background-color: seagreen;
  padding: 5px;
}

.B {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: black;

}

.W {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-color: white;
}

.isHidden {
  display: none;
}

#register-div{
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding: 30px;
  background-color: white;
  margin-top: 250px;
  border: solid .5px #dcdcdc;
}

.reg-log-buttons-div{
  margin-top: 20px;
  margin-right: 15px;
}

.save-game-button{
  margin-top: 30px;
}
